@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Karla:wght@300;400;600&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #171717;
    --white: #fafafa;
}

html {
    font-size: 62.5%;
    font-family: 'Jost', sans-serif;


}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_player {
    display: grid;
    place-items: center;
    width: 40rem;
    height: 90%;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;

}

.title,
.artist {
    text-transform: capitalize;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    word-spacing: 0.5rem;
    letter-spacing: .6rem;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 30%);
    color: var(--black);
}

.artist {
    margin-top: -2rem;
    color: #cccaca;
    letter-spacing: 0.3rem;
    font-size: 2rem;

}

.img {
    width: 27rem;
    height: 27rem;

}

.img img {
    border-radius: 50%;
    box-shadow: 0 .3rem 1.3rem .4rem rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}



.icon {
    font-size: 2.5rem;
    color: var(--black);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.icon i:hover {
    color: grey;
}

.icon .main_btn {
    color: var(--white);
    background: var(--black);
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 2rem;
    align-items: center;
}

.icon .main_btn:hover {
    color: var(--black);
    background: var(--white);
    box-shadow: 0 .3rem 1rem .3rem rgba(0, 0, 0, 0.3);
}

/* ===============Animation in Image======================== */
.anime {
    animation: rotateImg 5s infinite linear;
}

@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ==========Media Querry============== */
@media screen and (max-width:600px) {
    html {
        font-size: 50%;
    }
    .music_player {
        height: 50%;
    }
}
